 
 h1 {
    text-align:center;
 }

 h2 {
    padding-left: 25px;
    font-size: 27px;
 }

 p {
    padding-left: 20px;
 }

 disclaimer {
    align-content: center;
    font-style: italic;
 }

 .disclaimer_class {
    text-align: center;
 }
 td, th {
    border: 1px solid black;
    padding: 15px;
    white-space: normal;
    font-size: 25px;
}

.button_div {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.dialog_button {
    margin-top: 15px;
    font-size: 20px;
}

.test {
    text-align: center;
    width: 130px;
    height: 55px;
    font-size: 15px;
}

#dialog[open] {
    display:flex;
    align-items:center;
    flex-direction: column;
    width: 600px;
    height: 325px;
}

li {
    padding-top: 15px;
    font-size: 20px;
}

.close_dialog_button {
    align-content: center;

}

#network-input {
    width: 200x;
    height: 40px;
}

option {
    font-size: 25px;
}

.datalist-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.datalist-input {
    display: flex;
    flex-direction: column;

}